body {
    padding-top: 75px;
}

.container-fluid, .container {
    max-width: 930px;
}

.order-block {
    padding: 20px 40px 20px 40px;
    border-bottom: 1px solid #dce4ec;
}
.order-block:hover {
    background-color: rgba(220, 228, 236, 0.2);
}
.order-block.expandable {
    cursor: pointer;
}

.order-block .order-title {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding-right: 120px;
}

.order-block .order-desc {
    margin: 10px 10px 10px 0;
    padding-right: 100px;
    min-height: 20px;
}
.order-block .order-desc a {
    font-size: 14px;
    color: #2c3e50;
    text-decoration: underline;
}
.order-block .order-desc a:hover {
    text-decoration: none;
}

.order-block .order-user {
    font-size: 16px;
}

.order-block .order-price {
    margin-top: 5px;
    float: right;
}
.order-block .order-price span {
    font-size: 18px;
}

.order-block .order-footer {
    margin-top: 20px;
    height: 45px;
}
.order-block .order-footer .order-date {
    font-size: 12px;
    color: gray;
    float: left;
    padding-top: 25px;
}
.order-block .order-buttons {
    float: right;
}

.order-block.disabled {
    opacity: 0.6;
}
.order-block.disabled .order-button {
    background-color: rgb(192, 192, 192);
    border-color: rgba(0, 0, 0, 0);
    cursor: default;
}
.order-block.disabled .order-price .label {
    background-color: #95a5a6;
}

#order-create-popup .modal-footer a {
    margin-right: 10px;
}
#user-payments-block .positive td {
    color: rgba(24, 188, 156, 1);
}
#user-payments-block .negative td {
    color: rgba(231, 76, 60, 1);
}

.navbar-default {
    background-color: rgba(0,0,0,.7);
}
.navbar-collapse.collapse.in, .navbar-collapse.collapsing {
    background-color: rgba(0,0,0,.7);
}
.navbar-nav > li > a { padding-top: 15px !important; padding-bottom: 14px !important; }
.navbar { min-height: 51px !important; height: 51px; }
.navbar-header { height: 50px; }
.navbar-header a { padding-top: 15px; }
.navbar-header .navbar-toggle { margin-top: 8px; }